<nav>
    <div class="navTop">
        <div class="nav-links">
            <a href='/'>Home</a>
        </div>
        <div class="nav-links">
            <a href='/create'>Create</a>
        </div>
    </div>
</nav>